# Dependencies
node_modules/

# Lock files
package-lock.json

# Build
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# AI rules
.github/instructions/codacy.instructions.md

/scripts
package-lock.json


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
